<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://cdn.discordapp.com/attachments/1504268133278683137/1504268398773796955/DeltaVN_V62_HuyMythic.ipa?ex=6a065e9e&is=6a050d1e&hm=a5abc3ca26066e418ce5f500a341eab1eb2ce40327c3ea600fcd1bfba3008dea&</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/HuyMythicIOS/DeltaVN-V60/main/tomaura.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/HuyMythicIOS/DeltaVN-V60/main/tomaura.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.huymythic.deltamobile</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Delta</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
